---
---

<section class="mb-8">
  <div class="mb-4">
    <h3
      class="font-bold text-xl md:text-xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Kiruba Selvi
      </span>
    </h3>
    <p class="text-sm pb-4">Web Developer</p>
    <div>
      <p class="mb-5 text-sm">
       Okay ,Hi ,I think I could say more about me but I want to keep it simple ..

      
      </p>
      <code>  I love Programming </code>
    </div>
  </div>
</section>
